<h1>All pets at <%= @shelter.name %></h1>

<%= link_to "Sort alphabetically", "/shelters/#{@shelter.id}/pets?sort=alphabetical" %>

<%= render partial: "shared/pets_info", locals: { instance_var: @shelter_pets, show_shelter: false, links: true, adopt_button: false } %>

<%= form_with url: "/shelters/#{@shelter.id}/pets", method: :get do |form| %>
  <%= form.label "Only display pets with an age of at least..." %>
  <%= form.select :age, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15] %>
  <%= form.submit "Filter" %>
<% end %>

<p><%= link_to "Create a Pet", "/shelters/#{@shelter.id}/pets/new" %></p>
