<h3>Applicant Name: <%= @application.name %></h3>
<p>Address: <%= @application.full_address %></p>
<p>Description: <%= @application.description %></p>
<p>Pet(s) Applying For: </p>
<ul>
  <% @application.pets.each do |pet| %>
    <li><%= link_to pet.name, "/pets/#{pet.id}" %></li>
  <% end %>
</ul>
<p>Application Status: <%= @application.status %></p>

<% @application.pets.each do |pet| %>
  <section id="pet-<%= pet.id %>">
    <%= pet.name %>
    <% pet.application_pets.each do |app_pet| %>
      <% if app_pet.application_id == @application.id && app_pet.status == "Accepted" %>
        <p>Approved</p>
      <% elsif app_pet.application_id == @application.id && app_pet.status == "Rejected" %>
        <p>Rejected</p>
      <% elsif app_pet.application_id == @application.id %>
        <%= button_to "Approve", "/admin/applications/#{@application.id}", params: {pet_id: pet.id, approved: true}, method: :patch %>
        <%= button_to "Reject", "/admin/applications/#{@application.id}", params: {pet_id: pet.id, approved: false}, method: :patch %>
      <% end %>
    <% end %>
  </section>
<% end %>
